@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-shadow {
    text-shadow: 0px 0px 8px #fff;
  }
  .form-350 {
    width: 350px;
  }
  .form-500 {
    max-width: 450px;
  }
  .text-stroke {
    -webkit-text-stroke: 0.1px #fff; /* 太さと色 */
  }
  .box-shadow {
    box-shadow: 4px 4px 4px #00000050;
  }
  .right18p {
    right: 18%;
  }
  .max-w-lg {
    max-width: 1000px;
  }
  .width-750 {
    max-width: 745px;
  }
  .min-height-780 {
    min-height: 750px;
  }
}
